html, 
body {
    margin: 0;
    background-color: #f6f9fc;
}

a, 
a:link, 
a:visited {
    text-decoration: none;
}

.navbar_link {
    font-size: 21px;
    font-weight: normal;
    color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.active {
    font-weight: 600;
}